<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<header th:include="include :: top"></header>
<link th:href="@{/myfile/layui/css/layui.css}" rel="stylesheet"/>
<link rel="stylesheet" href="/myfile/assets/css/amazeui.min.css">
<link rel="stylesheet" href="/myfile/assets/css/app.css">
<body id="blog">
<hr>
<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button"
            data-am-collapse="{target: '#blog-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div th:include="include :: navTop"></div>

</nav>
<hr>


<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed" style="text-align: center">
    <input type="hidden" id="parentId" th:value="${parentId}">
    <div class="" id="photo-tpl" style="width: 100%;">

    </div>
</div>


<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">Amaze UI</div>
        <div class="am-modal-bd">
            确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script th:src="@{/myfile/js/jquery.min.js}"></script>
<script th:src="@{/myfile/layui/layui.all.js}"></script>
<script th:src="@{/myfile/js/template-web.js}"></script>
<script th:src="@{/myfile/assets/js/amazeui.min.js}"></script>


<script type="text/html" id="photo-temp">

    {{each photoList}}
        <img ondblclick="deleteImg({{$value.id}})" src="{{$value.imgUrl}}" class="am-u-sm-12" style="border-radius: 30px;padding-top: 10px">
    {{/each}}
</script>


<script>
    var allPage;
    var page = 0;
    var pageSize = 10;
    var off_on = true; //分页开关(滚动加载方法 1 中用的)
    var timers = null; //定时器(滚动加载方法 2 中用的)
    var parentId = $("#parentId").val();
    //加载数据
    var LoadingDataFn = function () {
        $.post("/photo/userPhotoPageList", {"page": page, "pageSize": pageSize, "parentId": parentId}, function (res) {
            var html = template("photo-temp", res.data);
            $("#photo-tpl").append(html);
            allPage = res.data.allPage;
            // page = res.page;
            console.log(page + "-------->" + allPage);
        });
        off_on = true; //[重要]这是使用了 {滚动加载方法1}  时 用到的 ！！！[如果用  滚动加载方法1 时：off_on 在这里不设 true的话， 下次就没法加载了哦！]
    };

    //初始化， 第一次加载
    $(document).ready(function () {
        LoadingDataFn();
        page++;
    });

    //滚动加载方法2
    $('#main').scroll(function () {
        //当时滚动条离底部60px时开始加载下一页的内容
        if (($(this)[0].scrollTop + $(this).height() + 60) >= $(this)[0].scrollHeight) {
            clearTimeout(timers);
            //这里还可以用 [ 延时执行 ] 来控制是否加载 （这样就解决了 当上页的条件满足时，一下子加载多次的问题啦）
            timers = setTimeout(function () {

                if (page == allPage) {
                    layer.msg("兄弟，到底啦！！！");
                    return;
                }
                // console.log("第" + page + "页");
                LoadingDataFn(); //调用执行上面的加载方法
                page++;
            }, 300);
        }
    });

    //还可以基window窗口（body）来添加滚动事件, (因为布局不同,所以在这里没效果，因为[上面是基于body中的某个元素来添加滚动事的])
    $(window).scroll(function () {
        //当时滚动条离底部60px时开始加载下一页的内容
        if (($(window).height() + $(window).scrollTop() + 60) >= $(document).height()) {
            clearTimeout(timers);
            timers = setTimeout(function () {
                if (page == allPage) {
                    layer.msg("兄弟，到底啦！！！");
                    return;
                }
                // console.log("第" + page + "页");
                LoadingDataFn();
                page++;
            }, 300);
        }
    });

</script>

<script>
    function deleteImg(imgId) {
        $('#my-confirm').modal({
            relatedTarget: this,
            onConfirm: function (options) {
                $.ajax({
                    type: "POST",
                    url: "/photo/deleteImg",
                    contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                    data: {"imgId": imgId},
                    dataType: "json",
                    success: function (res) {
                        if (res.status == 1) {
                            layer.msg("删除成功！", function () {
                                window.location.reload();
                            }, 1500);
                        } else {
                            layer.msg(res.msg);
                        }
                    },
                    error: function (e) {
                        layer.msg("操作失败，联系管理员：544852009@qq.com");
                    }
                })
                ;

            },
            // closeOnConfirm: false,
            onCancel: function () {

            }
        });
    }

</script>

</body>
</html>